@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --animate-spin-slow: spin 3s linear infinite;
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900;
  }
}

@layer components {
  .prose {
    @apply text-zinc-600 leading-relaxed;
  }
  .prose p {
    @apply mb-4;
  }
  .prose strong {
    @apply text-zinc-900 font-semibold;
  }
  .prose ul {
    @apply list-disc list-inside mb-4;
  }
}
